<%= form_with(model: @account, local: true, url: sign_in_path) do |form| %>
    <% if @account.errors.any? %>
        <div id="error_explanation">
          <h2>Authentication failed</h2>

          <ul>
            <% @account.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h1>Authenticate</h1>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :account_email %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, id: :account_password_digest %>
    </div>

    <div class="actions">
      <%= form.submit "Sign in" %>
      <%= link_to "Register", register_path %>
    </div>
<% end %>
